mainnet
bitcoin-cli=/home/edward/NixWorkspace/Bitcoin/bitcoin/src/bitcoin-cli
bitcoin-datadir=/home/edward/NixWorkspace/Bitcoin/data
bitcoin-rpcuser=cln
bitcoin-rpcpassword=8OBnThtzA__eBm88gRcMVquz0U6sc8gV1RMhBfdvFN8
#addr=127.0.0.1:9735
bind-addr=0.0.0.0:9735
experimental-dual-fund
large-channels
experimental-offers
experimental-onion-messages
fee-base=0
log-level=INFO:hsmd
log-level=DEBUG:wallet
log-level=DEBUG:lightningd
log-level=DEBUG:jsonrpc
